$main-font: "Satoshi-Regular", sans-serif;
$sub-font: "Comfortaa", sans-serif;
$italic-font: "Satoshi-LightItalic", sans-serif;
$main-color: #000000;
$sub-color: #FFFFFF;
$link-bg: #149926;
$site-bg: #FAF9F9;
$site-sub-bg: #FAF8F4;
$line-color: #ACACAC;
$container: 1700px;
$container-fluid: 850px;

$max-breakpoint: 2559px;
$full-breakpoint: 1919px;
$middle-breakpoint: 1559px;
$desktop-breakpoint: 1367px;
$font-breakpoint: 1282px;
$tablet-breakpoint: 1080px;
$mobile-breakpoint: 767px;


